/* 上下水平居中 */
@mixin flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 上下居中 */
@mixin flex-x-center {
  display: flex;
  justify-content: center;
}

/* 上下居中 */
@mixin flex-y-center {
  display: flex;
  align-items: center;
}

/* flex-space-between */
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
